* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px;
}
footer, .push {
	height: 155px; 
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
}

.intro {
	background-color: #9FB3B2;
;
}
.portrait {
	text-align: center;
}

.portrait > img{
	padding-top: 25px;
	height:250px;
	width: 250px;
	border-radius: 50%;
}

.projects {
	background-color: #9fb3b2;
}